<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Workout</string>
	<key>uuid</key>
	<string>5EA55F2D-6820-4D47-BC48-CFF3E4C0A877</string>
</dict>
</plist>
